/*----------------------------
          GOBAL
----------------------------*/
a:visited {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #C10311;
}
/*------------------------------
      NAVIGATION
-----------------------------*/

.nav {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.top-links, .bottom-links {
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FB4F21;
  color: white;
  height: 35px;
  padding: 0 5px;
}

.top-links { 
   margin: 10px 5px;
}


.bottom-links {
  /* height: 100px;
  width: 300px; */
  margin: 5px;
}

.top-nav {
  display: flex;
}

.logo {
  border: 1px solid black;
  height: 10vh;
  width: 15vw;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.search {
  border: 1px solid black;
  height: 2.5vh;
  width: 25vw;
  background: #D8D8D8;
  margin: 10px;
}

hr {
  border: 0;
  height: 1px;
  border-top: 2px solid #D8D8D8;
}
.bottom-nav {
  display: flex;
}

/*----------------------------
      HOME
----------------------------*/

 .home {
   border: 1px solid black; 
   font-family: 'Roboto', sans-serif;
   
} 

.top-middle-container, .bottom-middle-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom-container {
  height: 20vh;
}

.top-container { 
  background: #9A6B43;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 65px;
  font-weight: bold;
}

.top-image {
  height: 49vh;
  width: 370vw;
  /* background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2015-11/23/11/enhanced/webdr02/enhanced-buzz-25668-1448296037-6.jpg'); */
  margin: 2px 0 0 5px;
}

.left, .right, .middle {
  background: #D8D8D8;
  height: 37vh;
  /* width: 4vw; */
}

.bottom-container {
  height: 20vh;
  background: #D8D8D8;
  display: flex;
}

.bottom-left {
  height: 20vh;
  width: 48vw;
}

.middle-image {
  height: 27vh;
  width: 31vw;
  background-image: url('https://media0.giphy.com/media/Fj0MaDHcLycOk/200_s.gif');
  margin: 5px 10px 0 10px;
}

.ramen-text {
  height: 1vh;
  margin: 10px;
  display: flex;
  justify-content: center;
}