<h3>Hi <%= @user.first_name %>,</h3>
<p>
  Thanks for signing up for Ramen Adventures! I'm working hard to bring you info about new shops in Japan and abroad, so stay tuned. Happy slurping!
</p>
<%= image_tag attachments['ramen_adventures_email.jpg'].url, alt: 'Our Photo' -%>
